.btn {
    @apply .bg-grey .text-white .font-normal .text-sm .py-3 .px-4 .rounded;
    cursor: pointer;

    &.is-green {
        @apply .bg-green;
        box-shadow: 1px 2px 15px 0 rgba(16, 234, 155, 0.48);

        &:hover {
            @apply .bg-green-darker;
        }
    }

    &.is-outlined {
        background: transparent;
        @apply .border;
    }

    &:hover {
        @apply .bg-blue-dark .text-white;
    }
}
