@tailwind preflight;

.btn {
    @apply .bg-grey .text-white .font-normal .text-sm .py-3 .px-4 .rounded;
    cursor: pointer;

    &.is-green {
        @apply .bg-green;
    }

    &.is-outlined {
        background: transparent;
        @apply .border;
    }

    &:hover {
        @apply .bg-blue-dark .text-white;
    }
}

.widget {
    @apply .mb-4 .pb-4;
}



@tailwind utilities;

a {
    @apply .text-grey-darkest;
    text-decoration: none;
}
