@tailwind preflight;

@import 'components/btn';

.widget {
    @apply .mb-4 .pb-4;

    > .widget-heading {
        @apply .mb-2 .pb-2 .text-xs .uppercase .text-grey-dark .tracking-wide;
    }
}

@tailwind utilities;

a {
    @apply .text-grey-darkest;
    text-decoration: none;
}

input {
    @apply .border .border-grey-light;
}
